<li>
    {{name}}

    <button class="devourBtn" data-which="{{this.id}}" data-newDevour="{{devour}}">
        {{#if devoured}}Put Back{{else}}Devour{{/if}}
    </button>
    <button class="deleteBtn" data-which="{{this.id}}">Delete</button>
</li>